*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.banner{
    background-image: url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content{
    position: relative;
    max-width: 589px;
    top: 0;
    left: 0;

}

.content h1{
    color: #fff;
    font-size: 2.5em;
    
}

.content p{
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1.2em;
}


/*==============================MEDIA QUERY MODO RETRATO-------------------------------*/

@media (max-width: 1025px){
    .banner{
        padding: 100px 30px;
    }
    .content h1{
        font-size: 1.8em;
        padding-top: 300px;

    }
}

@media (max-width: 689px){
    .banner{
        padding: 400px 30px 200px;
        background-image: url(images/phone-background.png);
    }

    .content h1{
        color: #fff;
        max-width: 400px;
        padding-top: 300px;
    }
    
    .content p{
       max-width: 400px;
    }
    
}


@media only screen and (max-width: 415px) and (min-width: 394px) {
    /* CSS styles for devices with screen width between 394px and 415px */
    .banner{
        padding: 220px 20px 100px;
    }
    .content h1{
        font-size: 1.8em;

    }
    
    .content p{
       max-width: 400px;
       font-size: 1em;
    }
  }
  

/*==============================MEDIA QUERY MODO PAISAGEM-------------------------------*/


@media (max-width: 897px){
    .banner{
        padding: 220px 30px 100px;
    }
    .content h1{
        font-size: 1.8em;
        max-width: 400px;

    }
    
    .content p{
       max-width: 400px;
       font-size: 1em;
    }
    
}



